#cyan-colour {
  background:cyan;
}

#magenta-colour {
  background:magenta;
}

#yellow-colour {
  background:yellow;
}

#key-colour {
  background:black;
}

.slider {
	width: 100%;
	height: 20px;
}

#cmyk-colour-output {
	width: 100%;
	height: 60px;
	margin: 20px 0px;
	background-color: white;
	border: 1px solid black;
}

.ui-sortable-handle {
    -ms-touch-action: none;
    touch-action: none;
}
 
.ui-slider {
    position: relative;
    text-align: left;
    border: 1px solid black;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: col-resize;
    -ms-touch-action: none;
    touch-action: none;
    border: 3px solid #7C7C7C;
    font-weight: normal;
    background-color: #CFCFCF;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
 
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}
 
.ui-slider-horizontal {
    height: .6em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.interactive {
    padding: 30px;
}
