/* ================================ */
/* SUMMER 2016 ISC CAPSTONE PROJECT */
/*      Lauren Mazzoli              */
/*    Sub Page Style Sheet          */
/* ================================ */
table {
	border: 1px solid black;
	margin: 10px auto; 
      }
th, td {
	border: 1px solid black;
	padding: .2em .7em;
	text-align: left; }

thead { background-color: silver; }

td:nth-child(2) {text-align: center; }

iframe { margin: 0;
	 padding: 0;
	 width: "15";
	 height: "8";
}
#accordian { padding-left: 1%;}

